{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "no-console": [0],
    "max-len": [0],
    "no-use-before-define": [2, { "functions": false }],
    "comma-dangle": [2, {
      "functions": "ignore",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline"
    }],
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "none"
    }]
  }
}
